{% extends "layout.html" %}
{% block content %}
<div class="text-center mt-5 mb-3">
    <h3 style="color:#800080">My reservations</h3>
</div>
{% if userId != null %}

<div class="container">
    <div class="row">
        <div class="col ">
            {% for reservation in reservations %}
            <div class="border border-primary mt-1 ">
                <h5 class="mt-3 px-3 ">{{ reservation.name }} </h5>
                <div class=" px-3"> <small> Address: {{ reservation.address }} </small> </div>
                <div class="mt-1 px-3">
                    Reserved from {{ reservation.reservedFrom }} till  {{ reservation.reservedTill }}
                </div>
                <div class="mt-1 px-3">
                    Rate per night: {{ reservation.ratePerNight }}
                </div>
                <div class="mt-1 px-3">
                    Total per stay: {{ reservation.totalAmount }}
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</div>



{% endif %}
{% endblock %}